.w-backgroundvideo-backgroundvideoplaypausebutton:focus-visible {
  outline-offset: 2px;
  border-radius: 50%;
  outline: 2px solid #3b79c3;
}

.w-form-formrecaptcha {
  margin-bottom: 8px;
}

a {
  color: #fff;
  text-decoration: none;
}

.hero-section {
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  display: block;
  position: relative;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  max-width: none;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  display: block;
  top: 0;
  left: 0;
  right: 0;
}

.slider {
  width: 100vw;
  height: 85vh;
  background-color: rgba(0, 0, 0, 0);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.slider-arrow {
  color: #fff;
  text-align: left;
  -webkit-text-stroke-color: #fff;
}

.slide-nav {
  color: #096ad0;
}

.slide-div {
  width: auto;
  min-width: 0;
  display: flex;
  position: relative;
}

.dropdown-link-1 {
  width: 100%;
  color: #283338;
  padding: 20px 22px 16px;
  font-size: 16px;
  text-decoration: none;
  display: flex;
}

.dropdown-link-1:hover {
  background-color: #f8faff;
}

.navigation-right {
  width: 50%;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
  display: flex;
}

.dropdown-toggle {
  padding-left: 12px;
  padding-right: 26px;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  transition: all .2s;
}

.dropdown-toggle:hover {
  color: #c90000;
  -webkit-text-stroke-color: #c90000;
}

.flowbase-logo {
  width: 54px;
}

.navigation-link {
  white-space: nowrap;
  object-fit: scale-down;
  justify-content: center;
  align-items: center;
  padding: 20px 12px;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  text-decoration: none;
  transition: all .2s;
  display: flex;
}

.navigation-link:hover {
  color: #c90000;
}

.navigation-link.w--current {
  color: red;
}

.dropdown-link-4 {
  width: 100%;
  color: #283338;
  padding: 16px 22px;
  font-size: 16px;
  text-decoration: none;
  display: flex;
}

.dropdown-link-4:hover {
  background-color: #f8faff;
}

.navigation {
  z-index: 9;
  background-color: #fff;
  border-bottom: 1px solid rgba(68, 85, 103, .11);
  flex-direction: column;
  align-items: center;
  padding: 10px 3%;
  display: flex;
  position: relative;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.text-block-61 {
  font-size: 16px;
}

.navigation-dropdown {
  min-width: 140px;
}

.navigation-dropdown.w--open {
  max-height: 100vh;
  min-width: 350px;
  background-color: #fff;
  left: -120px;
  box-shadow: 0 50px 25px -50px rgba(32, 53, 90, .15), 8px 18px 60px 4px rgba(0, 0, 0, .13);
}

.navigation-container {
  width: 100%;
  height: 100%;
  max-width: 1300px;
  min-height: 85px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.dropdown-column-wrap {
  display: flex;
}

.button-menu {
  min-height: 50px;
  min-width: 150px;
  color: #000;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 14px;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  text-decoration: none;
  transition: all .4s ease-out;
  display: flex;
}

.button-menu:hover {
  border: 1px solid #fff;
  box-shadow: inset 1px 1px 3px rgba(32, 27, 61, .22), inset -1px -1px 3px rgba(238, 230, 255, 0), 1px 1px 2px #5b3acc;
}

.button-menu.standard {
  min-height: 0;
  min-width: 0;
  color: #fff;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 34px;
  transition: border-width .2s, all .4s ease-out;
}

.nav-content-wrap {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
  display: flex;
}

.navigation-column {
  width: 50%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 22px;
}

.navigation-mob {
  background-color: rgba(0, 0, 0, 0);
  flex-direction: column;
  align-items: center;
  display: none;
  position: relative;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.navigation-left {
  width: 50%;
  align-items: center;
  display: flex;
}

.icon-4 {
  margin-right: 5px;
}

.dropdown-link-mobile {
  width: 100%;
  color: #283338;
  padding: 20px 22px 16px;
  font-size: 16px;
  text-decoration: none;
  display: flex;
}

.dropdown-link-mobile:hover {
  background-color: #f8faff;
}

.navigation-column-right {
  width: 50%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.dropdown-link-5 {
  width: 100%;
  min-height: 55px;
  color: #283338;
  padding: 16px 22px 20px;
  font-size: 16px;
  text-decoration: none;
  display: flex;
}

.dropdown-link-5:hover {
  background-color: #f8faff;
}

.text-block-63 {
  font-family: Montserrat, sans-serif;
}

.nav-link-details {
  color: rgba(40, 51, 56, .6);
  font-size: 14px;
}

.brand-2 {
  width: 100px;
  height: 100px;
  margin-right: 44px;
}

.icon-square {
  width: 55px;
  height: 55px;
  background-color: #fff;
  border-radius: 4px;
  flex: none;
  justify-content: center;
  align-items: center;
  padding: 12px;
  display: flex;
  box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, .09);
}

.navigation-container-mob {
  width: 100%;
  height: 100%;
  max-width: 1300px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.link-18 {
  color: #283338;
  margin-bottom: 15px;
  font-size: 15px;
  text-decoration: none;
  display: block;
}

.link-18:hover {
  color: #8c54ff;
}

.nav-menu-2 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  color: #283338;
  justify-content: space-around;
  align-items: center;
  font-family: PT Serif, serif;
  font-size: 15px;
  display: flex;
  position: static;
}

.image-32 {
  object-fit: cover;
}

.text-block-62 {
  color: #abaeaf;
  letter-spacing: 1px;
  margin-bottom: 14px;
  font-size: 14px;
}

.image-33 {
  max-width: none;
  min-width: 100vw;
  object-fit: cover;
}

.div-block-2 {
  object-fit: fill;
}

.image-34 {
  min-width: 100vw;
}

.div-block-3 {
  min-width: 0;
}

.slide {
  min-width: 0;
  background-image: url('../images/500_3878-min.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

.slide-image {
  max-height: 85vh;
  min-width: 110vw;
  object-fit: cover;
}

.films-section {
  min-height: 0;
}

.title-div {
  position: static;
  top: auto;
  bottom: 46%;
  left: 0%;
  right: 0%;
}

.slide-heading {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 5px 12px rgba(0, 0, 0, .96);
  object-fit: fill;
  padding-left: 0;
  font-family: Montserrat, sans-serif;
}

.slide-heading.black {
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: #000;
  text-shadow: 0 6px 9px rgba(0, 0, 0, .51);
}

.slide-2 {
  background-image: url('../images/_36A6225-min.webp');
  background-position: 50%;
  background-size: cover;
  position: static;
}

.div-block-4 {
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.slide-3 {
  background-image: url('../images/psd-1-min.webp');
  background-position: 50%;
  background-size: cover;
}

.slide-3.drone {
  background-image: url('../images/DJI_0007-min.webp');
}

.slide-3.hero {
  background-image: none;
  position: relative;
}

.slide-4 {
  background-image: url('../images/psd-1-min.webp');
  background-position: 50%;
  background-size: cover;
}

.hero-logo {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  perspective: 1049px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: center;
  display: grid;
}

.image-35 {
  max-width: none;
}

.welcome-heading {
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
  font-weight: 400;
}

.div-block-5 {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, .96), rgba(255, 255, 255, .96)), url('../images/2023-Logo-Circle-.webp'), linear-gradient(#fff, #fff);
  background-position: 0 0, 0 0, 0 0;
  background-repeat: repeat, no-repeat, repeat;
  background-size: auto, auto, auto;
  background-attachment: scroll, fixed, scroll;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
}

.background-video {
  height: auto;
  min-height: 0%;
  object-fit: cover;
}

.background-video-div {
  width: auto;
  height: auto;
  min-height: 0;
  min-width: 0;
  flex-direction: column;
  align-items: stretch;
  margin-top: 58px;
  margin-bottom: 61px;
  display: flex;
}

.white-heading {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
}

.white-heading.align-left {
  text-align: left;
  margin-bottom: 0;
}

.white-heading.smaller {
  font-size: 25px;
}

.black-section {
  background-color: #000;
  padding-top: 11px;
  padding-bottom: 11px;
}

.wrapper-2 {
  width: 100%;
  max-width: 1230px;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
}

.lightbox-image {
  object-fit: contain;
  transition: transform .2s ease-in-out;
}

.lightbox-image:hover {
  transform: translate(0, -5px);
}

.gallery-section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  position: relative;
  overflow: hidden;
}

.gallery-section.padding {
  padding-top: 43px;
  padding-bottom: 43px;
}

.row {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: wrap;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-content: stretch;
  align-items: stretch;
  margin-left: -15px;
  margin-right: -15px;
  display: grid;
}

.row.fle {
  margin-bottom: 33px;
}

.margin-bottom-gutter {
  margin-bottom: 30px;
}

.col {
  flex-flow: column;
  flex: 0 auto;
  align-items: flex-start;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  position: relative;
}

.col.lg-4 {
  width: 33.33%;
  flex-wrap: wrap;
  flex: 0 auto;
}

.col.lg-4.xs-1 {
  align-items: center;
}

.col.lg-8 {
  width: 66.66%;
}

.image-36 {
  object-fit: contain;
}

.div-block-6 {
  width: 100%;
  height: 100%;
}

.logo-div {
  transform: rotate(0);
}

.paragraph {
  opacity: .75;
  font-size: 16px;
  line-height: 22px;
}

.paragraph.no-bottom-pad {
  margin-bottom: 0;
}

.brand-link {
  align-items: center;
  font-size: 23px;
  font-weight: 700;
  display: flex;
}

.brand-link.in-footer {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: .25fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  margin-bottom: 15px;
  display: grid;
}

.section-title {
  color: #3b2ae5;
  text-transform: none;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-decoration: none;
}

.section-title.footer {
  color: #000;
  margin-bottom: 20px;
}

.logo-txt {
  color: #000;
  margin-top: 0;
  font-family: PT Serif, serif;
  font-weight: 400;
  line-height: 23px;
}

.location-wrap {
  margin-top: 20px;
}

.socials-in-footer {
  height: auto;
  border-left: 1px #dbdbdb;
  justify-content: flex-end;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
}

.grid-sec-2 {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.legal-info {
  opacity: 1;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.blue {
  color: #3b2ae5;
}

.footer-section-01 {
  width: 100%;
  background-color: #fff;
  background-image: linear-gradient(rgba(255, 255, 255, .94), rgba(255, 255, 255, .94)), url('../images/Coat-of-Arms-Black-Flat.webp');
  background-position: 0 0, 100%;
  background-repeat: repeat, no-repeat;
  background-size: auto, contain;
  background-attachment: scroll, scroll;
  border-top: 2px solid #000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 0;
  font-family: Montserrat, sans-serif;
  display: flex;
}

.globe {
  max-width: none;
  margin-right: 0;
}

.platform-icon {
  width: 22px;
  height: 22px;
  max-height: 22px;
  max-width: 22px;
  background-color: #3b2ae5;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  padding: 4px;
  display: flex;
}

.location-title {
  opacity: 1;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.footer-link {
  opacity: .8;
  color: #000;
  margin-bottom: 15px;
  font-size: 16px;
  text-decoration: none;
  transition: all .2s;
  display: flex;
}

.footer-link:hover {
  opacity: 1;
  color: #e52a2d;
  -webkit-text-stroke-color: #e52a2d;
}

.grid-sec-1 {
  flex-direction: column;
  align-items: flex-start;
  padding-right: 80px;
  display: flex;
}

.footer-01-div {
  width: 100%;
  max-width: 1100px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.social-link-nav {
  color: #3b2ae5;
  align-items: center;
  margin-left: 20px;
  margin-right: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-decoration: none;
  transition: all .2s;
  display: flex;
}

.social-link-nav:hover {
  opacity: .8;
}

.services-wrap-footer {
  margin-top: 0;
}

.footer-spacer {
  width: 20px;
  height: 20px;
  min-height: 20px;
  min-width: 20px;
  flex: 0 auto;
}

.footer-01-bottom {
  width: 100%;
  max-width: 1100px;
  border-top: 1px solid #dbdbdb;
  justify-content: space-between;
  margin-top: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
}

.div-block-7 {
  height: 100%;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.page-padding {
  border-top: 2px solid #000;
  padding: 0 5%;
}

.page-padding.centre-weighted {
  width: 100vw;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  flex-direction: column;
  justify-content: center;
  padding-left: 0%;
  padding-right: 0%;
  display: flex;
}

.div-block-78 {
  flex-direction: column;
  align-items: center;
  margin-bottom: 23px;
  padding-left: 34px;
  padding-right: 34px;
  display: flex;
}

.heading-19 {
  text-align: center;
  text-transform: none;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 32px;
}

.html-embed-6 {
  width: 100vw;
  text-align: center;
  flex-direction: column;
  flex: 1;
  align-items: center;
  margin-top: 0;
  display: flex;
}

.heading {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
}

.heading.small {
  color: #000;
}

.div-block-79 {
  width: 100vw;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.hero3-headline-wrap {
  margin-bottom: 20px;
  padding-top: 10px;
}

.btn {
  float: none;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(25, 145, 235, 0);
  border: 1px solid #fff;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 11px 25px;
  font-family: Montserrat, sans-serif;
  line-height: 24px;
  transition: color .2s, box-shadow .2s, background-color .2s, transform .4s;
  display: inline-block;
}

.btn:hover {
  color: #fff;
  background-color: #dd1316;
  border-style: none;
  border-color: #ff0004;
  transform: translate(0, -2px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}

.btn:active {
  transform: translate(0, -1px);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.btn.btn-outline-dark {
  background-color: rgba(255, 255, 255, .1);
  border: 1px solid rgba(255, 255, 255, .2);
  transition: color .2s, box-shadow .2s, background-color .2s, transform .4s, border .2s;
}

.btn.btn-outline-dark:hover {
  border-color: rgba(255, 255, 255, .5);
}

.btn.black-txt {
  color: #000;
  border-radius: 14px;
  transition: color .2s, color .2s, box-shadow .2s, background-color .55s, transform .4s;
}

.btn.black-txt:hover {
  color: #fff;
}

.wrap {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.wrap._w-custom.hero3 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 2.25fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  display: grid;
}

.tagline {
  opacity: .6;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
}

.section-dark {
  color: #fff;
  background-color: rgba(17, 18, 18, 0);
  background-image: none;
  overflow: hidden;
}

.section-dark.with-grade {
  background-image: linear-gradient(rgba(0, 0, 0, 0), #000 67%);
}

.hero3-text-wrapper {
  padding-right: 50px;
}

._7-col {
  width: 540px;
  margin-right: 20px;
  display: inline-block;
}

._7-col._7-col-last {
  margin-right: 0;
  display: inline-block;
}

.hero3-firstbutton-wrap {
  margin-right: 10px;
  display: inline-block;
}

._5-col {
  width: 380px;
  flex: 0 auto;
  margin-right: 20px;
  display: inline-block;
}

.text-20 {
  opacity: 1;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.text-20.text-20-60 {
  opacity: .6;
  font-family: Montserrat, sans-serif;
}

.text-wrap {
  width: 941px;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.gallery-wrap {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  color: #fff;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 74px;
  display: grid;
}

.section-wrap {
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.paragraph-white {
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 0;
  font-family: Montserrat, sans-serif;
}

.paragraph-white.padded-top {
  padding-top: 52px;
}

.paragraph-white.centred {
  text-align: center;
}

.paragraph-white.align-left {
  text-align: left;
  padding-top: 19px;
}

.paragraph-white.margin-bottom {
  margin-bottom: 26px;
}

.paragraph-white.padding-top-and-bottom {
  padding-top: 33px;
  padding-bottom: 33px;
}

.photo-body {
  background-color: #000;
  background-image: url('../images/_36A6225-min.webp');
  background-position: 0 0;
  background-size: auto;
  background-attachment: fixed;
}

.photo-section {
  background-color: #000;
  background-image: url('../images/_36A7973.webp'), linear-gradient(rgba(0, 0, 0, 0), #000);
  background-position: 0 0, 0 0;
  background-size: auto, auto;
  padding-bottom: 79px;
}

.photo-section.transparent {
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  padding-bottom: 0;
}

.photo-section.logo-bg {
  background-image: linear-gradient(#000, rgba(0, 0, 0, 0)), url('../images/Coat-of-Arms-Black-Flat.webp');
  background-position: 0 0, 0 0;
  background-size: auto, auto;
  background-attachment: scroll, fixed;
}

.photo-section.logo-bg.grad-rev {
  background-image: linear-gradient(rgba(0, 0, 0, 0), #000), url('../images/Coat-of-Arms-Black-Flat.webp');
  background-position: 0 0, 0 0;
  background-size: auto, auto;
  background-attachment: scroll, fixed;
}

.div-block-80 {
  margin-left: 219px;
}

.sub-heading {
  color: #a0a0a0;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Lato, sans-serif;
  font-size: 17px;
  line-height: 20px;
}

.logos-wrap {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-content: center;
  justify-content: center;
  align-items: center;
  display: grid;
}

.logo-wrap {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: center;
  display: grid;
}

.smaller-heading {
  color: #888;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
}

.text-link {
  color: #fff;
  text-transform: none;
  font-weight: 700;
}

.background-video-2 {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.black-body {
  background-color: #000;
}

.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.video-body {
  background-color: #000;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .44)), linear-gradient(rgba(0, 0, 0, .67), rgba(0, 0, 0, .67)), url('../images/BGM_7562.webp');
  background-position: 0 0, 0 0, 50% 0;
  background-repeat: repeat, repeat, no-repeat;
  background-size: auto, auto, cover;
  background-attachment: scroll, scroll, scroll;
}

.container-2 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.video-gallery-wrap {
  padding-bottom: 100px;
}

.video-gallery-container {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column wrap;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  display: grid;
}

.web-body {
  background-color: #000;
  background-image: url('../images/psd-2.webp');
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
}

.image-37, .image-38, .image-39, .image-40 {
  object-fit: cover;
}

.div-block-81 {
  min-height: 200px;
  min-width: 400px;
  background-image: url('../images/parsonage-mockup.webp');
  background-position: 50%;
  background-size: cover;
}

.div-block-81.parsonage {
  min-height: 200px;
  min-width: 400px;
  position: relative;
}

.div-block-81.lifting {
  background-image: url('../images/liftingworx-mockup.webp');
  background-position: 50%;
  background-size: cover;
  position: relative;
}

.div-block-81.tdc {
  background-image: url('../images/TDC-mockup.webp');
  background-position: 50%;
  background-size: cover;
  position: relative;
}

.div-block-81.mbd {
  background-image: url('../images/Fastnet-mockup.webp');
  background-position: 50%;
  background-size: cover;
  position: relative;
}

.div-block-82 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), #000);
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.small-web-heading {
  text-align: center;
  padding-left: 78px;
  padding-right: 78px;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
}

.app-design-wrap {
  background-image: linear-gradient(rgba(0, 0, 0, .84), rgba(0, 0, 0, .84)), url('../images/BGM-Coat-of-Arms-faded.webp'), linear-gradient(#000, #000);
  background-position: 0 0, 100%, 0 0;
  background-repeat: repeat, no-repeat, repeat;
  background-size: auto, auto, auto;
  background-attachment: scroll, fixed, scroll;
}

.app-image-wrap {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: wrap;
  grid-template-rows: auto auto;
  grid-template-columns: .25fr 1fr;
  grid-auto-columns: 1fr;
  align-content: flex-start;
  justify-content: space-around;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
}

.phones-wrap {
  perspective: 1417px;
  display: flex;
}

.image-41 {
  transform: rotate(0);
}

.image-42 {
  object-fit: scale-down;
  overflow: hidden;
}

.section {
  background-color: #000;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
  display: flex;
}

.web-subheading {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 2px 20px #f0c;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 30px;
}

.container-3 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.general-body {
  background-color: #000;
}

.web-gallery-wrap {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.form-section-inner-04 {
  width: 100%;
  max-width: 750px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  flex-direction: column;
  align-items: center;
  margin-top: -320px;
  padding: 50px;
  display: flex;
}

.contact-method {
  color: #3b2ae5;
  align-items: center;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-decoration: none;
  transition: all .2s;
  display: flex;
}

.contact-method:hover {
  opacity: .8;
}

.contact-method.no-link:hover {
  opacity: 1;
}

.heading-2 {
  margin-top: 0;
  font-size: 35px;
  font-weight: 600;
  line-height: 45px;
}

.big-image-form-04 {
  width: 100%;
  height: 450px;
  background-image: linear-gradient(#000, rgba(255, 255, 255, 0));
}

.form-block-04 {
  width: 100%;
  border: 1px #dbdbdb;
  margin-top: 40px;
  margin-bottom: 0;
  padding: 0;
}

.form-section-04 {
  width: 100%;
  background-image: url('../images/_36A5410.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-bottom: 1px solid #dbdbdb;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  display: flex;
}

.contact-text {
  color: #000;
  margin-bottom: 1px;
  font-family: Montserrat, sans-serif;
}

.form-spacer {
  width: 20px;
  height: 20px;
  min-height: 20px;
  min-width: 20px;
  flex: 0 auto;
}

.contact-method-wrap {
  align-items: center;
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
}

.text-field-inform {
  height: 48px;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  margin-bottom: 0;
  margin-right: 0;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 15px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.text-field-inform:active {
  color: #3b2ae5;
  border-color: #dbdbdb;
}

.text-field-inform.bigger {
  height: auto;
  min-height: 58px;
}

.contact-icon {
  width: 22px;
  height: 22px;
  background-color: #3b2ae5;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  padding: 4px;
  display: flex;
}

.button {
  text-transform: none;
  background-color: #3b2ae5;
  border-radius: 0;
  padding: 13px 22px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  transition: all .2s;
}

.button:hover {
  opacity: .8;
}

.button.in-form {
  width: 100%;
  text-align: center;
  font-family: Montserrat, sans-serif;
}

._2-questions-wrap {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.contact-sub-heading {
  text-align: center;
  font-family: Montserrat, sans-serif;
}

.form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.image-div {
  flex-direction: column;
  align-items: center;
  padding-top: 57px;
  padding-bottom: 57px;
  display: flex;
}

.image-43 {
  max-width: 30vw;
}

.video {
  width: 100%;
}

.video-block {
  display: none;
  overflow: visible;
}

.image-44, .lightbox-link {
  object-fit: fill;
}

.image-45 {
  object-fit: cover;
}

.html-embed-7 {
  margin-top: 77px;
}

.section-2 {
  padding-bottom: 48px;
}

.html-embed-8 {
  margin-top: 56px;
}

.recaptcha {
  margin-top: 25px;
}

@media screen and (max-width: 991px) {
  .hero-section {
    padding-top: 0;
    padding-bottom: 0;
  }

  .wrapper {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .navigation {
    background-color: #fff;
    display: none;
  }

  .button-menu {
    color: #fff;
  }

  .navigation-mob {
    height: 85px;
    border-bottom: 1px solid rgba(68, 85, 103, .11);
    flex-direction: row;
    justify-content: center;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
  }

  .navigation-left {
    display: flex;
  }

  .mobile-nav {
    background-color: #fff;
    background-image: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)), url('../images/Coat-of-Arms-Black-Flat.webp');
    background-position: 0 0, 100%;
    background-repeat: repeat, no-repeat;
    background-size: auto, contain;
    padding-top: 15px;
    box-shadow: 42px 42px 55px rgba(32, 53, 90, .09);
  }

  .dropdown-link-mobile {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .navigation-container-mob {
    justify-content: space-between;
  }

  .mobile-nav-link {
    width: 100%;
    font-family: Montserrat, sans-serif;
    font-weight: 800;
  }

  .mobile-nav-link:hover {
    color: red;
  }

  .nav-menu-2 {
    display: none;
  }

  .dropdown-list {
    background-color: #fff;
  }

  .menu-mob {
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 100px;
    font-size: 22px;
  }

  .menu-mob.w--open {
    background-color: #000;
    border: 1px solid #fff;
  }

  .image-35 {
    max-width: 80vw;
  }

  .white-heading.align-left {
    text-align: center;
  }

  .wrapper-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .wrapper-2.hidden {
    display: block;
  }

  .gallery-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .gallery-section.hidden {
    display: block;
  }

  .row {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-flow: wrap;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    display: grid;
  }

  .row.flex {
    display: flex;
  }

  .col {
    width: 50%;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
  }

  .col.lg-4 {
    width: 50%;
  }

  .col.lg-8.md-4 {
    width: 100%;
  }

  .footer-section-01 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer-01-bottom {
    flex-direction: column;
  }

  .html-embed-6 {
    max-width: 90vw;
    overflow: hidden;
  }

  .wrap {
    width: 645px;
  }

  .wrap._w-custom.hero3 {
    flex-direction: column;
    padding-top: 50px;
    display: flex;
  }

  .hero3-image {
    margin-bottom: -20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .section-dark {
    padding-left: 0;
    padding-right: 0;
  }

  .hero3-text-wrapper {
    text-align: center;
    margin-bottom: 30px;
    padding-right: 0;
  }

  ._7-col, ._5-col {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .text-wrap {
    width: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    flex-direction: row;
    display: block;
  }

  .gallery-wrap {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .paragraph-white.padded-top.align-left {
    text-align: center;
    white-space: normal;
  }

  .paragraph-white.align-left, .sub-heading {
    text-align: center;
  }

  .background-video-2 {
    display: none;
  }

  .web-gallery-wrap {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-wrap: wrap;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: stretch;
    display: grid;
  }

  .form-block-04 {
    margin-top: 20px;
  }

  .icon-5 {
    color: #fff;
  }

  .site-title {
    color: #fff;
    order: 2;
    font-family: PT Serif, serif;
    font-weight: 400;
  }

  .hidden {
    display: none;
  }

  .video-block {
    width: 100vw;
    display: flex;
  }

  .video-2 {
    margin-top: 37px;
  }

  .background-video-3 {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .slider-arrow {
    font-size: 28px;
  }

  .slide-nav {
    font-size: 10px;
  }

  .button-menu {
    color: #fff;
  }

  .white-heading {
    padding-left: 18px;
    padding-right: 18px;
  }

  .white-heading.smaller {
    padding-left: 25px;
    padding-right: 25px;
  }

  .row {
    flex-wrap: wrap;
  }

  .row.grid {
    max-width: 100vw;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .brand-link.in-footer {
    padding-left: 0;
  }

  .footer-section-01 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .grid-sec-1 {
    margin-bottom: 40px;
  }

  .footer-01-div {
    grid-template-columns: 2fr;
  }

  .wrap {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero3-image {
    margin-top: -20px;
  }

  .gallery-wrap {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-flow: column wrap;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    align-content: center;
    align-self: center;
    align-items: stretch;
    display: grid;
  }

  .paragraph-white {
    padding-left: 25px;
    padding-right: 25px;
  }

  .logo-wrap {
    flex-direction: column;
    display: flex;
  }

  .video-gallery-container {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    display: flex;
  }

  .phones-wrap {
    padding-left: 26px;
    padding-right: 26px;
  }

  .lightbox-link-2 {
    object-fit: cover;
    align-self: center;
  }

  .lightbox-link-3 {
    align-self: center;
  }

  .lightbox-link-4 {
    flex-wrap: nowrap;
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  .left-arrow {
    width: 60px;
  }

  .slider-arrow {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 22px;
  }

  .right-arrow {
    width: 60px;
  }

  .slide-nav {
    height: 32px;
    font-size: 8px;
  }

  .button-menu.standard {
    text-align: center;
  }

  .mobile-nav {
    background-image: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)), url('../images/Coat-of-Arms-Black-Flat.webp');
    background-position: 0 0, 100%;
    background-repeat: repeat, no-repeat;
    background-size: auto, contain;
  }

  .dropdown-link-mobile {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .div-block-5 {
    max-width: 100vw;
  }

  .white-heading {
    padding-left: 36px;
    padding-right: 36px;
    font-size: 30px;
  }

  .white-heading.align-left {
    font-size: 28px;
  }

  .wrapper-2 {
    flex-direction: column;
  }

  .row {
    max-width: 100vw;
    display: flex;
  }

  .row.fle {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-direction: column;
    align-items: center;
  }

  .col {
    margin-bottom: 0;
  }

  .col.lg-4 {
    width: 100%;
  }

  .col.lg-4.xs-1 {
    width: 50%;
  }

  .brand-link {
    padding-left: 0;
  }

  .socials-in-footer {
    margin-left: -20px;
  }

  .platform-icon {
    min-height: 22px;
    min-width: 22px;
  }

  .social-link-nav {
    margin-bottom: 10px;
  }

  .footer-01-bottom {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .btn {
    text-align: center;
    display: block;
  }

  .hero3-firstbutton-wrap {
    margin-right: 0;
    display: block;
  }

  .gallery-wrap {
    max-width: 100vw;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
  }

  .paragraph-white.padded-top.align-left {
    padding-left: 19px;
    padding-right: 19px;
  }

  .paragraph-white.align-left {
    padding-left: 12px;
    padding-right: 12px;
  }

  .div-block-80 {
    display: none;
  }

  .smaller-heading {
    font-size: 18px;
  }

  .web-body {
    background-position: 100%;
  }

  .div-block-81.parsonage, .div-block-81.lifting, .div-block-81.tdc, .div-block-81.mbd {
    min-width: 100vw;
  }

  .div-block-82 {
    max-width: 100vw;
    grid-column-gap: 31px;
    grid-row-gap: 31px;
  }

  .small-web-heading {
    max-width: 100vw;
    font-size: 15px;
  }

  .phones-wrap {
    flex-direction: column;
  }

  .image-42 {
    display: none;
  }

  .web-gallery-wrap {
    flex-direction: column;
    display: flex;
  }

  .form-section-inner-04 {
    width: 90%;
    padding: 20px;
  }

  .contact-method {
    margin-bottom: 10px;
  }

  .form-block-04 {
    width: 100%;
    max-width: 100%;
  }

  .contact-method-wrap {
    flex-direction: column;
  }

  .contact-method-wrap.in-form-04 {
    width: 100%;
    align-items: flex-start;
  }

  .contact-icon {
    min-height: 22px;
    min-width: 22px;
  }

  ._2-questions-wrap {
    flex-direction: column;
  }
}

#w-node-ad156244-bf9f-3730-b850-473812a4826b-5f600ff1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-e8ea1965-c6ff-d6de-f022-76802e61b56b-5f600ff1 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_7bb99c27-e27a-1e3b-8ddb-cadfd8053d88-5f600ff1 {
  grid-area: span 2 / span 2 / span 2 / span 2;
}

#w-node-_16a69018-265f-3c28-72c0-81c8119b7b31-5f600ff1 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-d205a2bb-e078-08d5-7b3d-f193bc730fcb-5f600ff1, #w-node-d205a2bb-e078-08d5-7b3d-f193bc730fd5-5f600ff1 {
  grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-eec4dce7-34e7-2bd4-ff72-b91f205bdf58-5f600ff1 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_40963772-4704-fa32-4a85-2d219cb12242-5f600ff1, #w-node-_1755ad9c-6345-2352-2129-0fb391bce636-5f600ff1, #w-node-f0b06e15-3518-46b7-3141-c16b0b4722db-5f600ff1, #w-node-f0b06e15-3518-46b7-3141-c16b0b4722e5-5f600ff1 {
  grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-_000f8272-23f3-c679-1ccf-6b748c46bfdd-8c46bfd8 {
  align-self: center;
  justify-self: center;
}

#w-node-b73a88dc-0528-1ed8-646d-2209a10047de-5f4980c4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
}

#w-node-_57edbdb8-7101-8a12-7d3e-7964671b81da-5f4980c4, #w-node-aa9adc9c-4a6b-cc33-f846-de5eec138ad9-5f4980c4 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-_7a206384-2df1-b411-74bd-e07fc9271d78-5f4980c4, #w-node-_34750c59-9601-484f-3f3c-0a1b9500f9c8-5f4980c4, #w-node-e5f51d7a-2c8f-98c5-159f-0af7a9c1d3e5-5f4980c4 {
  grid-area: span 2 / span 1 / span 2 / span 1;
}

#w-node-_3e9df55f-6f8f-5860-93e1-70b1efb4e363-5f4980c4 {
  grid-area: span 2 / span 3 / span 2 / span 3;
}

#w-node-_042c5e17-071e-bed7-427e-ac7250d6890f-5f4980c4, #w-node-c047cfcc-3df4-1308-0b4d-369899365ac8-5f4980c4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_9fc0e375-9aa9-78ef-2024-2ecd9b68108d-5f4980c4, #w-node-_9fde6973-6fe8-ddaf-e8c3-0d1f7237f1d2-5f4980c4 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-_9fc0e375-9aa9-78ef-2024-2ecd9b681092-5f4980c4, #w-node-_9fc0e375-9aa9-78ef-2024-2ecd9b681093-5f4980c4, #w-node-_9fc0e375-9aa9-78ef-2024-2ecd9b681095-5f4980c4 {
  grid-area: span 2 / span 1 / span 2 / span 1;
}

#w-node-_9fc0e375-9aa9-78ef-2024-2ecd9b681099-5f4980c4 {
  grid-area: span 2 / span 4 / span 2 / span 4;
}

#w-node-_85fb86d3-f5b7-f5c1-0272-aca6977ad9dc-5f4980c4, #w-node-_85fb86d3-f5b7-f5c1-0272-aca6977ad9de-5f4980c4 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-_85fb86d3-f5b7-f5c1-0272-aca6977ad9e3-5f4980c4, #w-node-_85fb86d3-f5b7-f5c1-0272-aca6977ad9e4-5f4980c4, #w-node-_85fb86d3-f5b7-f5c1-0272-aca6977ad9e6-5f4980c4 {
  grid-area: span 2 / span 1 / span 2 / span 1;
}

#w-node-_85fb86d3-f5b7-f5c1-0272-aca6977ad9ea-5f4980c4 {
  grid-area: span 2 / span 4 / span 2 / span 4;
}

#w-node-_57edbdb8-7101-8a12-7d3e-7964671b81da-fc27e356, #w-node-aa9adc9c-4a6b-cc33-f846-de5eec138ad9-fc27e356 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-c379b193-801b-e5e5-f1da-4ba9160e7772-fc27e356 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_3e9df55f-6f8f-5860-93e1-70b1efb4e363-fc27e356 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-e5f51d7a-2c8f-98c5-159f-0af7a9c1d3e5-fc27e356, #w-node-_7a206384-2df1-b411-74bd-e07fc9271d78-fc27e356, #w-node-_34750c59-9601-484f-3f3c-0a1b9500f9c8-fc27e356, #w-node-_56bd50e0-0526-9630-8454-cbd5117817ce-fc27e356 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_5b75b9c9-c5d8-57cf-9501-0ebddfcf702e-fc27e356, #w-node-_876b47e3-63d7-2829-bc9f-cca202680924-fc27e356 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-_044c0af2-9378-3fa2-ac26-752c4f2f7ff4-fc27e356 {
  grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-df3dbfce-f855-b39e-94b1-4512e338ae42-fc27e356 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_57edbdb8-7101-8a12-7d3e-7964671b81da-ea0313d2, #w-node-aa9adc9c-4a6b-cc33-f846-de5eec138ad9-ea0313d2, #w-node-_05348c99-5791-6825-2063-5a4b182836bb-ea0313d2, #w-node-_0face6e4-d979-1454-202f-822793ff0372-ea0313d2 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-_3e9df55f-6f8f-5860-93e1-70b1efb4e363-ea0313d2 {
  grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-_5da965ca-ff7f-c594-9b7c-8ff0231e1cfe-ea0313d2, #w-node-a15ad711-53af-494d-d4d3-8fb6b04a9539-ea0313d2, #w-node-_346dc658-020d-81de-9d59-be66694bb13c-ea0313d2, #w-node-e62460d8-93d9-2d5e-90b8-b9892280242a-ea0313d2 {
  grid-area: span 3 / span 2 / span 3 / span 2;
}

#w-node-efcfca54-b66e-10b6-9fa5-463462048300-ea0313d2 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-_57edbdb8-7101-8a12-7d3e-7964671b81da-5f4980c4, #w-node-aa9adc9c-4a6b-cc33-f846-de5eec138ad9-5f4980c4 {
    grid-area: span 1 / span 4 / span 1 / span 4;
  }

  #w-node-_3e9df55f-6f8f-5860-93e1-70b1efb4e363-5f4980c4 {
    grid-area: span 2 / span 4 / span 2 / span 4;
  }

  #w-node-c047cfcc-3df4-1308-0b4d-369899365ac8-5f4980c4 {
    grid-area: span 1 / span 3 / span 1 / span 3;
    justify-self: center;
  }

  #w-node-_9fc0e375-9aa9-78ef-2024-2ecd9b68108d-5f4980c4, #w-node-_9fde6973-6fe8-ddaf-e8c3-0d1f7237f1d2-5f4980c4 {
    grid-area: span 1 / span 4 / span 1 / span 4;
  }

  #w-node-_9fc0e375-9aa9-78ef-2024-2ecd9b681099-5f4980c4 {
    grid-area: span 2 / span 4 / span 2 / span 4;
  }

  #w-node-_85fb86d3-f5b7-f5c1-0272-aca6977ad9dc-5f4980c4, #w-node-_85fb86d3-f5b7-f5c1-0272-aca6977ad9de-5f4980c4 {
    grid-area: span 1 / span 4 / span 1 / span 4;
  }

  #w-node-_85fb86d3-f5b7-f5c1-0272-aca6977ad9ea-5f4980c4 {
    grid-area: span 2 / span 4 / span 2 / span 4;
  }

  #w-node-_57edbdb8-7101-8a12-7d3e-7964671b81da-fc27e356, #w-node-aa9adc9c-4a6b-cc33-f846-de5eec138ad9-fc27e356, #w-node-_3e9df55f-6f8f-5860-93e1-70b1efb4e363-fc27e356, #w-node-_5b75b9c9-c5d8-57cf-9501-0ebddfcf702e-fc27e356, #w-node-_876b47e3-63d7-2829-bc9f-cca202680924-fc27e356 {
    grid-area: span 1 / span 4 / span 1 / span 4;
  }
}


